{% include 'parts/head.liquid' %}
{% include 'parts/header.liquid' %}



<!-- Sample Section -->
<section id="sample-section" class="sample-section hidden">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<!-- Stuff Goes Here -->
			</div>
		</div>
	</div>
</section>
<!-- End: Sample Section -->



<!-- Intro Section -->
<style>
.intro-section {
	position: relative;

	.intro {
		.heading {
			font-size: var(--h4);
		}
		.sub-heading {
			font-size: var(--h6);
		}
		.action {
			display: inline-flex;
			align-items: center;
			transform: scale(1.25);
			transform-origin: top left;

			i {
				transform: scale(1.75);
				margin-right: var(--space-25);
			}
		}
		.kid {
			z-index: -1;
			mix-blend-mode: lighten;
			transform: scale(1.375);
			transform-origin: top left;
		}

		@media( min-width: 500px ) {
			.heading {
				font-size: var(--h2);
			}
			.sub-heading {
				font-size: var(--h4);
			}
			.action {
				transform: scale(1);
			}
			.kid {
				transform: scale(3);
				transform-origin: top center;
			}
		}

		@media( min-width: 1000px ) {
			.heading {
				font-size: calc(var(--h1)*1.25);
			}
			.sub-heading {
				font-size: calc(var(--h4)*1.25);
			}
			.action {
				transform: scale(1.25);
				transform-origin: bottom left;
			}
			.kid {
				transform: scale(1.5);
				transform-origin: top center;
			}
		}

		@media( min-width: 1500px ) {
			.action {
				transform: scale(1.5);
				transform-origin: top left;
			}
			.kid {
				transform: scale(1.1);
				transform-origin: top center;
			}
		}
	}
}
</style>
<section id="intro-section" class="intro-section">
	<div class="container">
		<div class="row">
			<div class="intro columns small-12 fill-primary space-100 radius-25 box-shadow no-overflow-clip">
				<div class="row">
					<div class="columns small-12 medium-8 large-6">
						<h1 class="heading strong space-25-bottom">Empowering <br>Communication</h1>
						<h2 class="sub-heading">Neurodiversity-affirming <br>Therapy for children</h4>
						<h6 class="cta strong uppercase space-75-vertical">&nbsp;For a <span class="fill-secondary radius-min">&nbsp;FREE 20 Minutes&nbsp;<br>&nbsp;Consultation&nbsp;</span> Contact...</h5>
						<a class="action button fill-secondary w-600 radius-min box-shadow" href="tel: +919620559517"><i class="bx bxs-phone-call" style="font-size: inherit;"></i> +91-96205-59517</a>
					</div>
					<div class="columns small-12 medium-4 large-6">
						<img class="kid" src="media/genai-intro-kid.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Intro Section -->


<!-- Articles Section -->
<style>
.articles-section {
	.articles {
		font-size: 0;
		display: grid;
		gap: var(--space-50);
		grid-template-columns: repeat(1, 1fr);

		.article {
			display: flex;
			align-content: start;
			flex-direction: column;
			gap: var(--space-50);

			.thumbnail {
				aspect-ratio: 2 / 1;
				object-fit: cover;
			}
			.info {
				flex-grow: 1;
			}
			.info .title {
				/* overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis; */
			}
			.info .description,
			.info .excerpt {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 5;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
			}
		}

		@media( min-width: 500px ) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media( min-width: 1000px ) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media( min-width: 1500px ) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}

</style>
<section id="articles-section" class="articles-section gap">
	<div class="container">
		<div class="row">
			<div class="columns small-12">
				<div class="label text-uppercase">Articles</div>
				<div class="articles space-50-top">
				{% for article in collections.articles reversed %}
					<div class="article card space-50">
						<a href="{{ article.url }}"><img class="thumbnail radius-min no-overflow-clip" src="{{ article.data.cover }}" alt=""></a>
						<div class="info">
							<small class="date block text-neutral-50 space-min-bottom">{{ article.date | date: "%b %d, %Y" }}</small>
							<a href="{{ article.url }}"><h3 class="title h6 w-600">{{ article.data.title }}</h3></a>
							{% if article.data.description != blank %}
							<p class="description small text-dark space-25-top">{{ article.data.description }}</p>
							{% else %}
							<p class="excerpt small text-dark space-25-top">{{ article.content | strip_html | truncate: 240, "..." }}</p>
							{% endif %}
						</div>
						<a href="{{ article.url }}"><span class="action small strong text-uppercase text-primary" style="display: flex ; align-items: center; justify-content: space-between;"><span style="flex-grow: 1;">View Article</span> <i class='h6 bx bx-right-arrow-alt' ></i></span></a>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Articles Section -->



{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
